@import './../../../styles/_colors.scss';

:host{
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 80px;
    max-height: 80px;
    background-color: $fb-green;
    -webkit-margin-before-collapse: separate;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 6px 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 6px 10px;
    
    header{
        width: 100%;
        background-color: inherit;
        color: white;
        min-height: 80px;
        max-height: 80px;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

        a{
            cursor:pointer;
        }

        .header-menu__title{
            font-size: 25px;
            line-height: 40px;
            font-weight: bold;
            color: white;
            text-decoration: none;

            &:hover{
                color: $fb-black;
            }

            & .beta{
                color: $fb-black;
                font-size: 12px;
                line-height: 100%;
                // padding-left: 5px;
                // padding-right: 5px;
                position: relative;
                display: inline-block;

                // &::after{
                //     color: $fb-black;
                //     content: "}";
                //     display: inline-block;
                //     font-size: 13px;
                //     line-height: 12px;
                //     text-align: right;
                //     top: 0px;
                //     width: 100%;
                //     width: -webkit-fit-content;
                //     width: -moz-fit-content;
                //     width: fit-content;
                //     position: absolute;
                //     top: 0px;
                //     right: 0px;
                // }

                // &::before{
                //     color: $fb-black;
                //     content: "{";
                //     display: inline-block;
                //     font-size: 13px;
                //     line-height: 12px;
                //     text-align: left;
                //     top: 0px;
                //     width: 100%;
                //     width: -webkit-fit-content;
                //     width: -moz-fit-content;
                //     width: fit-content;
                //     position: absolute;
                //     top: 0px;
                //     left: 0px;
                // }
            }
        }
    }
}