.wrapper{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}



.page-section{
    width:100%;
    padding-top: 60px;
    padding-bottom: 60px;
}