@import './../../../styles/_colors.scss';

:host{
    background-color: $fb-gray;
    width: 100%;
    display: block;

    footer{
        width: 100%;
        background-color: inherit;
        color: #3f4850;
        min-height: 80px;
        height: 100%;
        line-height: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        text-align: center;
    }
}