<app-header-menu></app-header-menu>

<main class="wrapper">
	<section class="page-section hero-section">
		<figure class="hero-section__image">
			<img src="assets/frog.svg" alt="Logo of a frog" />
		</figure>
		<article class="hero-section__content">
			<h1 class="hero-section__title">Actually enjoy your paycheck.</h1>
			<p class="hero-section__text">Frog Budget is a simple app that lets you know where your money goes so you can spend it on what makes you happy. </p>
			<button class="hero-section__button">Download Excel Version</button>
		</article>
	</section>
</main>

<app-footer-menu></app-footer-menu>


<router-outlet></router-outlet>
