:host{
    main{
        margin-top: 80px;
        min-height: calc(100vh - 160px);
        display: block;
        width: 100%;


        .hero-section{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__content{
                width: 100%;
                padding-top: 40px;

                & .hero-section__title{
                    text-align: center;
                    font-size: 32px;
                    line-height: 42px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                & .hero-section__text{
                    font-size: 20px;
                    line-height: 32px;
                    font-weight: lighter;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    text-align: center;
                    color: #637A91;
                }

                & .hero-section__button{
                    padding: 23px 20px;
                    background: #637A91;
                    border-radius: 5px;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                    margin: 30px auto;
                    display: block;
                    width: 100%;
                }
            }

            &__image{
                // max-width: 350px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & img{
                    max-width: 150px;
                    width: 100%;
                }
            }
        }
    }
}